<ion-view view-title="Administrador"> 
      

        <ion-content class="padding"> 
            <div class="list">
                <a class="item item-icon-left">Crear Cita
                    <i class="icon ion-ios-plus-outline"></i>
                </a>
                <a class="item item-icon-left">Crear Categoria
                    <i class="icon ion-ios-pricetag-outline"></i>
                </a>
                
                <a class="item item-icon-left">Imprimir reporte
                    <i class="icon ion-ios-printer-outline"></i>
                </a>
                <a class="item item-icon-left">Buscar
                    <i class="icon ion-ios-search"></i>
                </a>
                <a class="item item-icon-left" href="#/tab/comunidad">Crear usuario
                    <i class="icon ion-ios-personadd-outline"></i>
                </a>
                
                
                
            </ul> 
            
      </ion-content>
</ion-view>