<ion-view view-title="Tu alimentación"> 
      <ion-nav-buttons side="primary">
      <button class="button button-icon button-clear ion-ios-close-empty" ui-sref="nutricion">
        </button>
    </ion-nav-buttons>

        <ion-content class="padding" ng-controller="comidaController">            
          <div>
            <center>
              <h5 class="azul">Ingresa la cantidad de porciones que consumiste en cada tiempo de comida.</h5>
            </center>
          </div>     
          <br>
          <br> 

          <div class="row">
            <div class="col col-20">
            </div>
            <div class="col col-20 borde">
              <span>
              <h6 class="text-pink">Desayuno</h6>
                </span>
            </div>
            <div class="col col-20 borde">
              <span>
                <h6 class="text-pink">Colacion</h6>
              </span>
            </div>
            <div class="col col-20 borde">
              <span>
                <h6 class="text-pink">Comida</h6>
              </span>
            </div>
            <div class="col col-20 borde">
              <span>
                <h6 class="text-pink">Cena</h6>
              </span>
            </div>
          </div>


          <div class="row">
            <div class="col col-20 borde">
              <span>
                <h6 class="text-blue">Frutas</h6>
              </span>
            </div>
            <div class="col col-20 borde">
              <input type="text"  class="form-field" ng-model="data.frutas[0]">
            </div>
            <div class="col col-20 borde">
              <input type="text"  class="form-field" ng-model="data.frutas[1]">
            </div>
            <div class="col col-20 borde">
              <input type="text"  class="form-field" ng-model="data.frutas[2]">
            </div>
            <div class="col col-20 borde">
              <input type="text"  class="form-field" ng-model="data.frutas[3]">
            </div>
          </div>

          <div class="row">
            <div class="col col-20 borde">
              <span>
                <h6 class="text-blue">Verduras</h6>
              </span>
            </div>
            <div class="col col-20 borde">
              <input type="text"  class="form-field" ng-model="data.verduras[0]">
            </div>
            <div class="col col-20 borde">
              <input type="text"  class="form-field" ng-model="data.verduras[1]">
            </div>
            <div class="col col-20 borde">
              <input type="text"  class="form-field" ng-model="data.verduras[2]">
            </div>
            <div class="col col-20 borde">
              <input type="text"  class="form-field" ng-model="data.verduras[3]">
            </div>
          </div>

          <div class="row">
            <div class="col col-20 borde">
              <span>
                <h6 class="text-blue">Cereales</h6>
              </span>
            </div>
            <div class="col col-20 borde">
              <input type="text"  class="form-field" ng-model="data.cereales[0]">
            </div>
            <div class="col col-20 borde">
              <input type="text"  class="form-field" ng-model="data.cereales[1]">
            </div>
            <div class="col col-20 borde">
              <input type="text"  class="form-field" ng-model="data.cereales[2]">
            </div>
            <div class="col col-20 borde">
              <input type="text"  class="form-field" ng-model="data.cereales[3]">
            </div>
          </div>

          <div class="row">
            <div class="col col-20 borde">
              <span>
                <h6 class="text-blue">Prod. origen animal</h6>
              </span>
            </div>
            <div class="col col-20 borde">
              <input type="text"  class="form-field" ng-model="data.animal[0]">
            </div>
            <div class="col col-20 borde">
              <input type="text"  class="form-field" ng-model="data.animal[1]">
            </div>
            <div class="col col-20 borde">
              <input type="text"  class="form-field" ng-model="data.animal[2]">
            </div>
            <div class="col col-20 borde">
              <input type="text"  class="form-field" ng-model="data.animal[3]">
            </div>
          </div>

          <div class="row">
            <div class="col col-20 borde">
              <span>
                <h6 class="text-blue">Leche</h6>
              </span>
            </div>
            <div class="col col-20 borde">
              <input type="text"  class="form-field" ng-model="data.leche[0]">
            </div>
            <div class="col col-20 borde">
              <input type="text" class="form-field" ng-model="data.leche[1]">
            </div>
            <div class="col col-20 borde">
              <input type="text"  class="form-field" ng-model="data.leche[2]">
            </div>
            <div class="col col-20 borde">
              <input type="text"  class="form-field" ng-model="data.leche[3]">
            </div>
          </div>

          <div class="row">
            <div class="col col-20 borde">
              <span>
                <h6 class="text-blue">Leguminosas</h6>
              </span>
            </div>
            <div class="col col-20 borde">
              <input type="text"  class="form-field" ng-model="data.leguminosas[0]">
            </div>
            <div class="col col-20 borde">
              <input type="text"  class="form-field" ng-model="data.leguminosas[1]">
            </div>
            <div class="col col-20 borde">
              <input type="text"  class="form-field" ng-model="data.leguminosas[2]">
            </div>
            <div class="col col-20 borde">
              <input type="text"  class="form-field" ng-model="data.leguminosas[3]">
            </div>
          </div>

          <div class="row">
            <div class="col col-20 borde">
              <span>
                <h6 class="text-blue">Aceite y Grasas</h6>
              </span>
            </div>
            <div class="col col-20 borde">
              <input type="text"  class="form-field" ng-model="data.grasas[0]">
            </div>
            <div class="col col-20 borde">
              <input type="text"  class="form-field" ng-model="data.grasas[1]">
            </div>
            <div class="col col-20 borde">
              <input type="text"  class="form-field" ng-model="data.grasas[2]">
            </div>
            <div class="col col-20 borde">
              <input type="text"  class="form-field" ng-model="data.grasas[3]">
            </div>
          </div>
          <a ng-click="send()">
            <div>
              <center>     
                <img src="img/finalizado.png" alt="Mi Cargapp" class="img-responsive img-rounded row logo-img peque" >
              </center>                       
          </div>
          </a>
          <br>
          <br>
          <br>
          <br>     
      </ion-content>
       <div class="bar bar-footer">  
    <div class="title">         
      <h4 class="rosa">
        <a ng-href="http://www.himfg.edo.mx"
          onclick='window.open(this.href, "_system", "location=yes"); return false;'>  
            www.himfg.edo.mx     
        </a>        
      </h4>                 
    </div>
  </div>
</ion-view>