<ion-view view-title="Bienvenido"> 
      

        <ion-content class="padding"> 
           
        <div class="list col col-50 col-offset-25">
          <img src="img/logo2.jpeg" alt="Mi Cargapp" class="img-responsive img-rounded row logo-img">
        </div>              
        <div class="list" ng-controller="LoginCtrl">
         	<a ui-sref="ejercicio">
	           	<div>
	 			 	<img src="img/actividad-fisica.png" alt="Mi Cargapp" class="img-responsive img-rounded row logo-img" width="100">
			 	</div>
		 	</a>
		 	<a ui-sref="nutricion">
			 	<div>
	 			 	<img src="img/nutricion.png" alt="Mi Cargapp" class="img-responsive img-rounded row logo-img" width="100">
			 	</div>
		 	</a>
		 	<a ui-sref="psicologia">
			 	<div>
	 			 	<img src="img/psicologia.png" alt="Mi Cargapp" class="img-responsive img-rounded row logo-img" width="100">
			 	</div>		      
		 	</a>  
        </div>
       
      
   
                    
      </ion-content>
       <div class="bar bar-footer">  
        <div class="title">         
          <h4 class="rosa">
            www.himfg.edo.mx            
          </h4>                 
        </div>
      </div>
</ion-view>