<ion-view view-title="bienvenido"> 
      

        <ion-content class="padding"> 
           
        <div class="list col col-50 col-offset-25">
          <img src="img/logo.png" alt="Mi Cargapp" class="img-responsive img-rounded row logo-img">
        </div>              
        <div class="list" ng-controller="LoginCtrl">
         	<a ui-sref="conoce">
	           	<div>
	 			 	<img src="img/conoce-tu-imc.png" alt="Mi Cargapp" class="img-responsive img-rounded row logo-img" width="100">
			 	</div>
		 	</a>
		 	<a ui-sref="tips">
			 	<div>
	 			 	<img src="img/tips.png" alt="Mi Cargapp" class="img-responsive img-rounded row logo-img" width="100">
			 	</div>
		 	</a>
		 	<a ui-sref="tusPasos1">
			 	<div>
	 			 	<img src="img/pasos.png" alt="Mi Cargapp" class="img-responsive img-rounded row logo-img" width="100">
			 	</div>		      
		 	</a>  
        </div>
        <div class="row">
         	<div class="form-item list col-25">
         		<img src="img/face.png" alt="Mi Cargapp" class="img-responsive img-rounded row logo-img" width="100">
         	</div>
         	<div class="form-item list col-25">
         		<img src="img/twitter.png" alt="Mi Cargapp" class="img-responsive img-rounded row logo-img" width="100">
         	</div>
         	<div class="form-item list col-25">
         		<img src="img/in.png" alt="Mi Cargapp" class="img-responsive img-rounded row logo-img" width="100">
         	</div>
         	<div class="form-item list col-25">
         		<img src="img/pint.png" alt="Mi Cargapp" class="img-responsive img-rounded row logo-img" width="100">
         	</div>             	
        </div>
      
   
                    
      </ion-content>
       <div class="bar bar-footer">  
        <div class="title">         
          <h4 class="rosa">
            www.combateobesidad.com            
          </h4>                 
        </div>
      </div>
</ion-view>