<ion-view view-title="Conoce tu IMC"> 
      

        <ion-content class="padding" ng-controller="CalcularCtrl"> 
        	<br>
        	<br>
        	<br>
        	<div>
        		<center>
                 <h1 class="prueba">
	             	{{calculo}}
	              </h1>
	              </center>
             </div>
             <div class="row">
             	<div class="form-item list col-20">
             		<img src="img/peso-normal.png" alt="Mi Cargapp" class="img-responsive img-rounded row logo-img" width="100">
             	</div>
             	<div class="form-item list col-20">
             		<img src="img/sobrepeso.png" alt="Mi Cargapp" class="img-responsive img-rounded row logo-img" width="100">
             	</div>
             	<div class="form-item list col-20">
             		<img src="img/grado-1.png" alt="Mi Cargapp" class="img-responsive img-rounded row logo-img" width="100">
             	</div>
             	<div class="form-item list col-20">
             		<img src="img/grado-2.png" alt="Mi Cargapp" class="img-responsive img-rounded row logo-img" width="100">
             	</div>
             	<div class="form-item list col-20">
             		<img src="img/grado-3.png" alt="Mi Cargapp" class="img-responsive img-rounded row logo-img" width="100">
             	</div>
             </div>
             <div class="row">
             	<div class="form-item list col-20">
             		<img src="img/verde.png" alt="Mi Cargapp" class="img-responsive img-rounded row logo-img" width="100">
             	</div>
             	<div class="form-item list col-20">
             		<img src="img/amarillo-claro.png" alt="Mi Cargapp" class="img-responsive img-rounded row logo-img" width="100">
             	</div>
             	<div class="form-item list col-20">
             		<img src="img/amarillo-obs.png" alt="Mi Cargapp" class="img-responsive img-rounded row logo-img" width="100">
             	</div>
             	<div class="form-item list col-20">
             		<img src="img/naranja.png" alt="Mi Cargapp" class="img-responsive img-rounded row logo-img" width="100">
             	</div>
             	<div class="form-item list col-20">
             		<img src="img/rojo.png" alt="Mi Cargapp" class="img-responsive img-rounded row logo-img" width="100">
             	</div>
             </div>
             <div class="row">
             	<div class="form-item list col-20">
             		<center>
             			<h5>18,5-24,9</h5>
             		</center>
             	</div>
             	<div class="form-item list col-20">
             		<center>
             			<h5>25-29,9</h5>
             		</center>
             	</div>
             	<div class="form-item list col-20">
             		<center>
             			<h5>30-34,9</h5>
             		</center>
             	</div>
             	<div class="form-item list col-20">
             		<center>
             			<h5>35-39,9</h5>
             		</center>
             	</div>
             	<div class="form-item list col-20">
             		<center>
             			<h5>40 o Mayor</h5>
             		</center>
             	</div>
             </div>
             <div class="range">
			  
			  <input type="range" min="18" max="40" ng-model="calculo">
			 
			</div>
      </ion-content>
      <div class="bar bar-footer">  
        <div class="title">         
          <h4 class="rosa">
            www.combateobesidad.com            
          </h4>                 
        </div>
      </div>
</ion-view>