<ion-view view-title="Grafica"> 
      <ion-nav-buttons side="primary">
      <button class="button button-icon button-clear ion-ios-close-empty" ui-sref="nutricion">
        </button>
    </ion-nav-buttons>

        <ion-content class="padding" ng-controller="MyCtrl">            
          <div>
            <center>
              <h5 class="azul">Esta es tu grafica de consumo de alimentos por grupo.</h5>
            </center>
          </div>     
          <br>
          <br> 

          
         <div id="bar-example"></div>
                   
      </ion-content>
       <div class="bar bar-footer">  
        <div class="title">         
          <h4 class="rosa">
            www.himfg.edo.mx            
          </h4>                 
        </div>
      </div>
</ion-view>