<ion-view view-title="Grafica"> 
      <ion-nav-buttons side="primary">
      <button class="button button-icon button-clear ion-ios-close-empty" ui-sref="nutricion">
        </button>
    </ion-nav-buttons>

        <ion-content class="padding" ng-controller="graficaCtrl">            
          <div>
            <center>
              <h5 class="azul">Esta es tu grafica de consumo de alimentos por grupo.</h5>
            </center>
          </div>     
          <br>
          <br> 
          <br>
          <br>
          
           <canvas id="bar" class="chart chart-bar"
              chart-data="datos" chart-labels="labels"> chart-series="series"
            </canvas
                   
      </ion-content>
       <div class="bar bar-footer">  
    <div class="title">         
      <h4 class="rosa">
        <a ng-href="http://www.himfg.edo.mx"
          onclick='window.open(this.href, "_system", "location=yes"); return false;'>  
            www.himfg.edo.mx     
        </a>        
      </h4>                 
    </div>
  </div>
</ion-view>