<ion-view view-title="MedicalBox" > 
<ion-header-bar class="bar bar-calm">
        <h1 class="title">MedicalBox</h1>
      <!--  <ion-tabs>
        <ion-tab icon="ion-ios-home-outline" tittle="home"></ion-tab>
       </ion-tabs>-->
       
      </ion-header-bar>
      

        <ion-content> 
          <div class="row">
            <div class="col"> 
                  <div class="card">
                    <div class="item item-divider">
                      <h2 class="title">Instalación</h2>
                    </div>
                    <div class="item item-divider">
                      <img src="img/Clinica.jpg" class="full-image">
                    </div>
                    <div class="item item-text-wrap">
                      es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.
                    </div>
                   </div>

             </div>
              
              <div class="col"><div class="card">
                    <div class="item item-divider">
                      <h2 class="title">Equipo</h2>
                    </div>
                    <div class="item item-divider">
                      <img src="img/doctor" class="full-image">
                    </div>
                    <div class="item item-text-wrap">
                      es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.
                    </div>
                   </div></div>
            
        </div>

      </ion-content>
      
    </ion-view>