<ion-view view-title="Iniciar Sesión" > 
<ion-header-bar >      
      </ion-header-bar>
      

        <ion-content ng-controller="prueba"> 
          <form id="userLogin">
        <div class="list col col-50 col-offset-25">
          <img src="img/logo.png" alt="Mi Cargapp" class="img-responsive img-rounded row logo-img">
        </div>              
        <div class="list" ng-controller="LoginCtrl">
          <div class="col list form-item">
            <label class="item ">
              <input type="text" placeholder="Usuario" class="form-field" ng-model="data.username">
            </label>                   
          </div>
          <div class="col list form-item">
            <label class="item">
              <input type="password" placeholder="Contraseña" class="form-field" ng-model="data.password">
            </label>                    
          </div> 
            <a ui-sref="bienvenido">
              <div>
                <img src="img/iniciar-boton.png" alt="Mi Cargapp" class="img-responsive img-rounded row logo-img" width="100">
              </div>
            </a>
        </div>
        <div class="list">
          <div class="col text-center">
            <h3 id="Notieneunacuenta">Olvido la contraseña ?</h3>
            <a ui-sref="register" class="button button-clear button-assertive">
              <h4 id="Notieneunacuenta">No es miembro ? Unase hoy</h4>
            </a>   
          </div>
        </div>
      </form>

      </ion-content>
      <div class="bar bar-footer">  
        <div class="title">         
          <h4 class="rosa">
            www.combateobesidad.com            
          </h4>                 
        </div>
      </div>


    </ion-view>