<ion-tabs class="tabs-icon-top tabs-striped tabs-calm tabs-color-stable ">
	<ion-tab  hidden="true">
      		<ion-nav-view name="tab-home"></ion-nav-view>
  		</ion-tab>
	 
	<ion-tab icon="ion-ios-location-outline" title="Contacto" href="#/tab/contacto">
		<ion-nav-view name="tab-contacto"></ion-nav-view>	
	</ion-tab>
	
	<ion-tab icon="ion-ios-information-outline" title="Informacion" href="#/tab/info">
		<ion-nav-view name="tab-info"></ion-nav-view>	
	</ion-tab>

	
        <ion-tab icon="ion-images" title="Galeria" href="#/tab/galeria">
		<ion-nav-view name="tab-galeria"></ion-nav-view>	
	</ion-tab>

	<ion-tab icon="ion-ios-flask-outline" title="Cita" href="#/tab/cita">
		<ion-nav-view name="tab-cita"></ion-nav-view>	
	</ion-tab>
        
    
        <ion-tab hidden="true">
		<ion-nav-view name="tab-login"></ion-nav-view>	
	</ion-tab>
    
        <ion-tab hidden="true" href="#/tab/comunidad">
		<ion-nav-view name="tab-comunidad"></ion-nav-view>	
	</ion-tab>
    
       <ion-tab hidden="true" href="#/tab/user">
	     	<ion-nav-view name="tab-user"></ion-nav-view>
        </ion-tab>
     
      
</ion-tabs>


