  <ion-view view-title="Tips">

   <ion-content>
      <div>
        <center>
        <h5 class="azul">Leelos muy bien y aplicalos para tener un estilo de vida mas saludable. Si quieres saber mas vista nuestras redes sociales.</h5>
        </center>
      </div>
      <div class="row">
          <div class="form-item list col-25">
            <img src="img/face.png" alt="Mi Cargapp" class="img-responsive img-rounded row logo-img" width="100">
          </div>
          <div class="form-item list col-25">
            <img src="img/twitter.png" alt="Mi Cargapp" class="img-responsive img-rounded row logo-img" width="100">
          </div>
          <div class="form-item list col-25">
            <img src="img/in.png" alt="Mi Cargapp" class="img-responsive img-rounded row logo-img" width="100">
          </div>
          <div class="form-item list col-25">
            <img src="img/pint.png" alt="Mi Cargapp" class="img-responsive img-rounded row logo-img" width="100">
          </div>              
        </div>
  </ion-content>
  <div class="bar bar-footer">  
        <div class="title">         
          <h4 class="rosa">
            www.combateobesidad.com            
          </h4>                 
        </div>
      </div>
  </ion-view>