  <ion-view view-title="Tips">
   <ion-nav-buttons side="primary">
      <button class="button button-icon button-clear ion-ios-close-empty" ui-sref="bienvenido">
        </button>
    </ion-nav-buttons>
   <ion-content>
      <div>
        <center>
        <h5 class="azul">Leelos muy bien y aplicalos para tener un estilo de vida mas saludable. Si quieres saber mas vista nuestras redes sociales.</h5>
        </center>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <center>
      <a class="button button-assertive" 
        ng-href="http://combateobesidad.com/blogs"
        onclick='window.open(this.href, "_system", "location=yes"); return false;'>      
        http://combateobesidad.com/blogs
      </a>
  </center>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="row">
          <div class="form-item list col-25">
            <a ng-href="https://www.facebook.com/combateobesidad"
            onclick='window.open(this.href, "_system", "location=yes"); return false;'>
              <img src="img/face.png" alt="Mi Cargapp" class="img-responsive img-rounded row logo-img" width="100">
            </a>
          </div>
          <div class="form-item list col-25">
            <a ng-href="https://twitter.com/combateobesidad"
            onclick='window.open(this.href, "_system", "location=yes"); return false;'>
              <img src="img/twitter.png" alt="Mi Cargapp" class="img-responsive img-rounded row logo-img" width="100">
            </a>
          </div>
          <div class="form-item list col-25">
            <a ng-href="https://www.linkedin.com/company/cruzada-nacional-contra-el-sobrepeso-y-la-obesidad"
            onclick='window.open(this.href, "_system", "location=yes"); return false;'>
              <img src="img/in.png" alt="Mi Cargapp" class="img-responsive img-rounded row logo- img" width="100">
            </a>
          </div>
          <div class="form-item list col-25">
            <a ng-href="https://es.pinterest.com/combateobesidad"
            onclick='window.open(this.href, "_system", "location=yes"); return false;'>
              <img src="img/pint.png" alt="Mi Cargapp" class="img-responsive img-rounded row logo-img" width="100">
            </a>
          </div>              
        </div>
  </ion-content>
  <div class="bar bar-footer">  
    <div class="title">         
      <h4 class="rosa">
        <a ng-href="http://www.combateobesidad.com"
          onclick='window.open(this.href, "_system", "location=yes"); return false;'>  
            www.combateobesidad.com    
        </a>        
      </h4>                 
    </div>
  </div>
  </ion-view>