  <ion-view view-title="Tus pasos">
     <ion-nav-buttons side="primary">
      <button class="button button-icon button-clear ion-ios-close-empty" ui-sref="bienvenido">
        </button>
    </ion-nav-buttons>

  <ion-content class="has-subheader" ng-controller="prueba">
    <div>
        <center>
        <h5 class="azul">¿Cuantos pasos diste hoy?.Recuerda que un estilo de vida saludable esta ligado a los beneficios de caminar, correr o trotar. Cuenta con nosotros cada paso a un estilo de vida saludable.</h5>
        </center>
      </div>
      <br>
      <br>
      
      <div>
        <center>
         
          
              <div class="circle3" ng-click="ubicacion()">
                <br>
                <br>
                 <h2 class="blanca">Comenzar</h2>

              </div>
       
        </center> 
    </div>
  </ion-content>  
   <div class="bar bar-footer">  
    <div class="title">         
      <h4 class="rosa">
        <a ng-href="http://www.combateobesidad.com"
          onclick='window.open(this.href, "_system", "location=yes"); return false;'>  
            www.combateobesidad.com    
        </a>        
      </h4>                 
    </div>
  </div>
  </ion-view>