<ion-view view-title="Tus pasos">     
    <ion-content class="padding"> 
        <div>
        <center>
        <h2 class="azul">!Felicidades</h2>
        <h3 class="azul">Realizaste:</h3>
        </center>
      </div>
        <div>
            <center>
                <span>
                    <h1 class="mediana rosa">32</h1>
                    <h1 class="chica claro">Pasos</h1>
                </span>
                
                
            </center>
        </div>
        <div>
            <center>
                <h5 class="azul">Comparte tu recorrido</h5>
            </center>
        </div>
         <div class="row">
          <div class="form-item list col-25">
            <img src="img/face.png" alt="Mi Cargapp" class="img-responsive img-rounded row logo-img" width="100">
          </div>
          <div class="form-item list col-25">
            <img src="img/twitter.png" alt="Mi Cargapp" class="img-responsive img-rounded row logo-img" width="100">
          </div>
          <div class="form-item list col-25">
            <img src="img/in.png" alt="Mi Cargapp" class="img-responsive img-rounded row logo-img" width="100">
          </div>
          <div class="form-item list col-25">
            <img src="img/pint.png" alt="Mi Cargapp" class="img-responsive img-rounded row logo-img" width="100">
          </div>              
        </div>
            
      </ion-content>
       <div class="bar bar-footer">  
        <div class="title">         
          <h4 class="rosa">
            www.combateobesidad.com            
          </h4>                 
        </div>
      </div>
</ion-view>