  <ion-view view-title="Tus pasos">
    

  <ion-content class="has-subheader" ng-controller="prueba">
    <div>
        <center>
        <h5 class="azul">¿Cuantos pasos diste hoy?.Recuerda que un estilo de vida saludable esta ligado a los beneficios de caminar, correr o trotar. Cuenta con nosotros cada paso a un estilo de vida saludable.</h5>
        </center>
      </div>
      <br>
      <br>
      
      <div>
        <center>
         
          
              <div class="circle3" ng-click="ubicacion()">
                <br>
                <br>
                 <h2 class="blanca">Comenzar</h2>

              </div>
       
        </center> 
    </div>
  </ion-content>  
   <div class="bar bar-footer">  
        <div class="title">         
          <h4 class="rosa">
            www.combateobesidad.com            
          </h4>                 
        </div>
      </div>
  </ion-view>