<ion-view view-title="Tus pasos">       
      <ion-nav-buttons side="primary">
      <button class="button button-icon button-clear ion-ios-close-empty" ui-sref="bienvenido">
        </button>
    </ion-nav-buttons>
      <ion-content class="padding" ng-controller="prueba"> 
      	<br>
      	<br>
         <div>
         	<center>
         		<h1 class="grande rosa">32</h1>
         	</center>
         </div>
         <br>
         <br>
         <div class="row row-center">
          <div class="col col-50 text-center " ng-click="llegada()">
            <center>
             
                <div class="back-blue circle col-center">
                  <div class="circle">
                     <img src="img/pause.png" width="40%" class="peque">
                  </div>
                </div>
                <span class="text-circle"><h3 class="rosa">Pausar</h3></span>
           
            </center>
          </div>
          <div class="col col-50 text-center" ng-click="distancia()">
            <center>
                    
                <div class="back-blue circle col-center">
                  <div class="circle2">
                    <img src="img/ok.png" width="40%" class="peque">
                  </div>
                </div>
                <span class="text-circle"><h3 class="rosa">Terminar</h3></span>
             
            </center>
          </div>        
        </div>
                    
      </ion-content>
       <div class="bar bar-footer">  
    <div class="title">         
      <h4 class="rosa">
        <a ng-href="http://www.combateobesidad.com"
          onclick='window.open(this.href, "_system", "location=yes"); return false;'>  
            www.combateobesidad.com    
        </a>        
      </h4>                 
    </div>
  </div>
</ion-view>