<ion-view view-title="Tus pasos">       
      <ion-content class="padding"> 
      	<br>
      	<br>
         <div>
         	<center>
         		<h1 class="grande rosa">32</h1>
         	</center>
         </div>
         <br>
         <br>
         <div class="row row-center">
          <div class="col col-50 text-center ">
            <center>
             
                <div class="back-blue circle col-center">
                  <div class="circle">
                     <img src="img/pause.png" width="40%" class="peque">
                  </div>
                </div>
                <span class="text-circle"><h3 class="rosa">Pausar</h3></span>
           
            </center>
          </div>
          <div class="col col-50 text-center">
            <center>
              <a ui-sref="tusPasos3">              
                <div class="back-blue circle col-center">
                  <div class="circle2">
                    <img src="img/ok.png" width="40%" class="peque">
                  </div>
                </div>
                <span class="text-circle"><h3 class="rosa">Terminar</h3></span>
              </a>
            </center>
          </div>        
        </div>
                    
      </ion-content>
       <div class="bar bar-footer">  
        <div class="title">         
          <h4 class="rosa">
            www.combateobesidad.com            
          </h4>                 
        </div>
      </div>
</ion-view>