<ion-view view-title="Productos de origen animal"> 
     <ion-nav-buttons side="primary">
      <button class="button button-icon button-clear ion-ios-close-empty" ui-sref="grupos">
        </button>
    </ion-nav-buttons>


        <ion-content class="padding">            
          <div>
            <center>
              <h5 class="azul">Recuerda que estas cantidades equivalen a 1 porcion de cada alimento.</h5>
            </center>
          </div>    
          <br> 
          <div class="row back-frutas">
                 <div class="col col-50 text-center ">
                    <h5 class="letras-blancas">Almeja fresca</h5>
                
                 </div>
                 <div class="col col-50 text-center back-with">
                   <span>
                    <h5 class="pad">4 Piezas</h5>                    
                   </span>
                 </div>                
              </div>
          <br> 
          <div class="row back-frutas">
                 <div class="col col-50 text-center ">
                    <h5 class="letras-blancas">Atún</h5>
                
                 </div>
                 <div class="col col-50 text-center back-with">
                   <span>
                    <h5 class="pad">1/2 Lata</h5>                    
                   </span>
                 </div>                
              </div> 
              <br>
          <div class="row back-frutas ">
             <div class="col col-50 text-center">
                <h6 class="letras-blancas">Carne de res, Cerdo, Langaniza o pescado (ambos sin grasa)</h6>                                      
             </div>
             <div class="col col-50 text-center back-with">
               <span >
                 <h5 class="pad">40 gr (aproximadamente 1/3 de la palma de tu mano)</h5>                    
               </span>
             </div>                
          </div>
          <br>
          <div class="row back-frutas ">
             <div class="col col-50 text-center">
                <h6 class="letras-blancas">Escamoles </h6>                                      
             </div>
             <div class="col col-50 text-center back-with">
               <span >
                 <h5 class="pad">20 gr</h5>                    
               </span>
             </div>                
          </div>
          <br>
          <div class="row back-frutas ">
             <div class="col col-50 text-center">
                <h6 class="letras-blancas">Jamón </h6>                                      
             </div>
             <div class="col col-50 text-center back-with">
               <span >
                 <h5 class="pad">2 rebanadas</h5>                    
               </span>
             </div>                
          </div>
          <br> 
          <div class="row back-frutas">
             <div class="col col-50 text-center ">
                <h6 class="letras-blancas">Carne molida (albóndiga).</h6>
            
             </div>
             <div class="col col-50 text-center back-with">
               <span>
                <h5 class="pad">1 pieza </h5>                    
               </span>
             </div>                
          </div>
          <br> 
          <div class="row back-frutas">
             <div class="col col-50 text-center ">
                <h5 class="letras-blancas">Pechuga de pollo</h5>
            
             </div>
             <div class="col col-50 text-center back-with">
               <span>
                <h5 class="pad">1/3 de pieza</h5>                    
               </span>
             </div>                
          </div>
          <br> 
          <div class="row back-frutas">
             <div class="col col-50 text-center ">
                <h5 class="letras-blancas">Queso de cualquier tipo.</h5>
            
             </div>
             <div class="col col-50 text-center back-with">
               <span>
                <h5 class="pad">30 gr (1/3 de la palma de tu mano)</h5>                    
               </span>
             </div>                
          </div>
          <br> 
          <div class="row back-frutas">
             <div class="col col-50 text-center ">
                <h5 class="letras-blancas">Huevo</h5>
            
             </div>
             <div class="col col-50 text-center back-with">
               <span>
                <h5 class="pad">1 Pieza</h5>                    
               </span>
             </div>                
          </div>
          <br> 
          <div class="row back-frutas">
             <div class="col col-50 text-center ">
                <h5 class="letras-blancas">Nuget</h5>
            
             </div>
             <div class="col col-50 text-center back-with">
               <span>
                <h5 class="pad">3 piezas</h5>                    
               </span>
             </div> 
             </div>  
             <br> 
          <div class="row back-frutas">
             <div class="col col-50 text-center ">
                <h5 class="letras-blancas">Pollo rostizado </h5>
            
             </div>
             <div class="col col-50 text-center back-with">
               <span>
                <h5 class="pad">¼ de pieza</h5>                    
               </span>
             </div>                
          </div> 
          <br> 
          <div class="row back-frutas">
             <div class="col col-50 text-center ">
                <h5 class="letras-blancas">Salchicha</h5>
            
             </div>
             <div class="col col-50 text-center back-with">
               <span>
                <h5 class="pad">½ pieza</h5>                    
               </span>
             </div>                
          </div>
          <br> 
          <div class="row back-frutas">
             <div class="col col-50 text-center ">
                <h5 class="letras-blancas">Salami</h5>
            
             </div>
             <div class="col col-50 text-center back-with">
               <span>
                <h5 class="pad">6 rebanadas</h5>                    
               </span>
             </div>                
          </div>         
          <br> 
          <br>
          <br>
          <br>
      </ion-content>
       <div class="bar bar-footer">  
    <div class="title">         
      <h4 class="rosa">
        <a ng-href="http://www.himfg.edo.mx"
          onclick='window.open(this.href, "_system", "location=yes"); return false;'>  
            www.himfg.edo.mx     
        </a>        
      </h4>                 
    </div>
  </div>
</ion-view>