<ion-view view-title="Cereales"> 
     <ion-nav-buttons side="primary">
      <button class="button button-icon button-clear ion-ios-close-empty" ui-sref="grupos">
        </button>
    </ion-nav-buttons>


        <ion-content class="padding">            
          <div>
            <center>
              <h5 class="azul">Recuerda que estas cantidades equivalen a 1 porcion de cada alimento.</h5>
            </center>
          </div>    
          <br> 
          <div class="row back-frutas">
                 <div class="col col-50 text-center ">
                    <h6 class="letras-blancas">Cereales de cajas con granos, Azucar, Fruta, Fibra</h6>
                
                 </div>
                 <div class="col col-50 text-center back-with">
                   <span>
                    <h5 class="pad">1/3 Taza</h5>                    
                   </span>
                 </div>                
              </div>
          <br> 
          <div class="row back-frutas">
                 <div class="col col-50 text-center ">
                    <h6 class="letras-blancas">Avena, Cereal de caja sin azucar, Arroz al vapor</h6>
                
                 </div>
                 <div class="col col-50 text-center back-with">
                   <span>
                    <h5 class="pad">1/2 Taza</h5>                    
                   </span>
                 </div>                
              </div> 
              <br>
          <div class="row back-frutas ">
             <div class="col col-50 text-center">
                <h5 class="letras-blancas">Bolillo.</h5>                                      
             </div>
             <div class="col col-50 text-center back-with">
               <span >
                 <h5 class="pad">1/2 Taza</h5>                    
               </span>
             </div>                
          </div>
          <br>
          <div class="row back-frutas ">
             <div class="col col-50 text-center">
                <h6 class="letras-blancas">Elote</h6>                                      
             </div>
             <div class="col col-50 text-center back-with">
               <span >
                 <h5 class="pad">3/4 Taza</h5>                    
               </span>
             </div>                
          </div>
          <br>
          <div class="row back-frutas ">
             <div class="col col-50 text-center">
                <h6 class="letras-blancas">Galletas de animalitos, Maria, Habaneras</h6>                                      
             </div>
             <div class="col col-50 text-center back-with">
               <span >
                 <h5 class="pad">5 Piezas</h5>                    
               </span>
             </div>                
          </div>
          <br> 
          <div class="row back-frutas">
             <div class="col col-50 text-center ">
                <h6 class="letras-blancas">Honey Bran, Kracker Bran, Sanitas, Palitos de pan, Galletas tipo sandwich emperador, Principe, Plativolos.</h6>
            
             </div>
             <div class="col col-50 text-center back-with">
               <span>
                <h5 class="pad">3 Piezas</h5>                    
               </span>
             </div>                
          </div>
          <br> 
          <div class="row back-frutas">
             <div class="col col-50 text-center ">
                <h5 class="letras-blancas">Palomitas natuares sin grasa ni mantequilla</h5>
            
             </div>
             <div class="col col-50 text-center back-with">
               <span>
                <h5 class="pad">2 1/2 Tazas</h5>                    
               </span>
             </div>                
          </div>
          <br> 
          <div class="row back-frutas">
             <div class="col col-50 text-center ">
                <h5 class="letras-blancas">Caja de pan(Bimbo, Wonder, etc).</h5>
            
             </div>
             <div class="col col-50 text-center back-with">
               <span>
                <h5 class="pad">1 Rebanada</h5>                    
               </span>
             </div>                
          </div>
          <br> 
          <div class="row back-frutas">
             <div class="col col-50 text-center ">
                <h5 class="letras-blancas">Pan de hamburguesa o Hog dog, Tortilla de harina</h5>
            
             </div>
             <div class="col col-50 text-center back-with">
               <span>
                <h5 class="pad">1/2 Pieza</h5>                    
               </span>
             </div>                
          </div>
          <br> 
          <div class="row back-frutas">
             <div class="col col-50 text-center ">
                <h5 class="letras-blancas">Sopa de pasta</h5>
            
             </div>
             <div class="col col-50 text-center back-with">
               <span>
                <h5 class="pad">1/2 Taza</h5>                    
               </span>
             </div> 
             </div>  
             <br> 
          <div class="row back-frutas">
             <div class="col col-50 text-center ">
                <h5 class="letras-blancas">Tortilla de maiz, Hot cake casero, Papa</h5>
            
             </div>
             <div class="col col-50 text-center back-with">
               <span>
                <h5 class="pad">1 Pieza</h5>                    
               </span>
             </div>                
          </div> 
          <br> 
          <div class="row back-frutas">
             <div class="col col-50 text-center ">
                <h5 class="letras-blancas">Pastel, Panque(ancho 5 cm)</h5>
            
             </div>
             <div class="col col-50 text-center back-with">
               <span>
                <h5 class="pad">1 Rebanada</h5>                    
               </span>
             </div>                
          </div>
          <br> 
          <div class="row back-frutas">
             <div class="col col-50 text-center ">
                <h5 class="letras-blancas">Tamal, Pan dulce</h5>
            
             </div>
             <div class="col col-50 text-center back-with">
               <span>
                <h5 class="pad">1/3 Pieza</h5>                    
               </span>
             </div>                
          </div>
          <br> 
          <div class="row back-frutas">
             <div class="col col-50 text-center ">
                <h5 class="letras-blancas">Tostadas sanitas</h5>
            
             </div>
             <div class="col col-50 text-center back-with">
               <span>
                <h5 class="pad">2 Piezas</h5>                    
               </span>
             </div>                
          </div>

         
          <br> 
          <br>
          <br>
          <br>
      </ion-content>
       <div class="bar bar-footer">  
        <div class="title">         
          <h4 class="rosa">
            www.himfg.edo.mx            
          </h4>                 
        </div>
      </div>
</ion-view>