<ion-view view-title="Frutas"> 
      <ion-nav-buttons side="primary">
      <button class="button button-icon button-clear ion-ios-close-empty" ui-sref="grupos">
        </button>
    </ion-nav-buttons>

        <ion-content class="padding">            
          <div>
            <center>
              <h5 class="azul">Recuerda que estas cantidades equivalen a 1 porcion de cada alimento.</h5>
            </center>
          </div>    
          <br> 
          <div class="row back-frutas">
                 <div class="col col-50 text-center ">
                    <h5 class="letras-blancas">   Ciruela pasa</h5>
                
                 </div>
                 <div class="col col-50 text-center back-with">
                   <span>
                    <h5 class="pad"> 3 Piezas</h5>                    
                   </span>
                 </div>                
              </div> 
              <br>
          <div class="row back-frutas ">
             <div class="col col-50 text-center">
                <h6 class="letras-blancas">Guayaba, Mandarina, Durazno, Tuna</h6>                                      
             </div>
             <div class="col col-50 text-center back-with">
               <span >
                 <h5 class="pad">2 Piezas</h5>                    
               </span>
             </div>                
          </div>
          <br>
          <div class="row back-frutas ">
             <div class="col col-50 text-center">
                <h6 class="letras-blancas">Naranja, Pera chica, Mamey, Manzana</h6>                                      
             </div>
             <div class="col col-50 text-center back-with">
               <span >
                 <h5 class="pad">1 Pieza</h5>                    
               </span>
             </div>                
          </div>
          <br>
          <div class="row back-frutas ">
             <div class="col col-50 text-center">
                <h6 class="letras-blancas">Papaya, Sandia, Melon, Fresas</h6>                                      
             </div>
             <div class="col col-50 text-center back-with">
               <span >
                 <h5 class="pad">1 Taza</h5>                    
               </span>
             </div>                
          </div>
          <br> 
          <div class="row back-frutas">
             <div class="col col-50 text-center ">
                <h5 class="letras-blancas">Zarzamora</h5>
            
             </div>
             <div class="col col-50 text-center back-with">
               <span>
                <h5 class="pad"> 3/4 Taza</h5>                    
               </span>
             </div>                
          </div>
          <br> 
          <div class="row back-frutas">
             <div class="col col-50 text-center ">
                <h5 class="letras-blancas">Kiwi</h5>
            
             </div>
             <div class="col col-50 text-center back-with">
               <span>
                <h5 class="pad">1 1/2 Piezas</h5>                    
               </span>
             </div>                
          </div>
          <br> 
          <div class="row back-frutas">
             <div class="col col-50 text-center ">
                <h5 class="letras-blancas">Mango</h5>
            
             </div>
             <div class="col col-50 text-center back-with">
               <span>
                <h5 class="pad">1/2 Pieza</h5>                    
               </span>
             </div>                
          </div> 
            
          <br> 
          <br>
          <br>
          <br>
      </ion-content>
       <div class="bar bar-footer">  
    <div class="title">         
      <h4 class="rosa">
        <a ng-href="http://www.himfg.edo.mx"
          onclick='window.open(this.href, "_system", "location=yes"); return false;'>  
            www.himfg.edo.mx     
        </a>        
      </h4>                 
    </div>
  </div>
</ion-view>