<ion-view view-title="Leche o Yogurt"> 
      <ion-nav-buttons side="primary">
      <button class="button button-icon button-clear ion-ios-close-empty" ui-sref="grupos">
        </button>
    </ion-nav-buttons>

        <ion-content class="padding">            
          <div>
            <center>
              <h5 class="azul">Recuerda que estas cantidades equivalen a 1 porcion de cada alimento.</h5>
            </center>
          </div>    
          <br> 
          <div class="row back-frutas">
                 <div class="col col-50 text-center ">
                    <h5 class="letras-blancas">Helado de yogurt </h5>
                
                 </div>
                 <div class="col col-50 text-center back-with">
                   <span>
                    <h5 class="pad">½ taza</h5>                    
                   </span>
                 </div>                
              </div> 
              <br>
          <div class="row back-frutas ">
             <div class="col col-50 text-center">
                <h5 class="letras-blancas">Jocoque</h5>                                      
             </div>
             <div class="col col-50 text-center back-with">
               <span >
                 <h5 class="pad">¾ taza</h5>                    
               </span>
             </div>                
          </div>
          <br>
          <div class="row back-frutas ">
             <div class="col col-50 text-center">
                <h6 class="letras-blancas">Leche descremada o semidescremada </h6>                                      
             </div>
             <div class="col col-50 text-center back-with">
               <span >
                 <h5 class="pad">1 taza</h5>                    
               </span>
             </div>                
          </div>
          <br>
          <div class="row back-frutas ">
             <div class="col col-50 text-center">
                <h6 class="letras-blancas">Yogurt light</h6>                                      
             </div>
             <div class="col col-50 text-center back-with">
               <span >
                 <h5 class="pad">2/3 de taza</h5>                    
               </span>
             </div>                
          </div>
          <br> 
          <div class="row back-frutas">
             <div class="col col-50 text-center ">
                <h5 class="letras-blancas">Yogurt natural </h5>
            
             </div>
             <div class="col col-50 text-center back-with">
               <span>
                <h5 class="pad">3/4 Taza</h5>                    
               </span>
             </div>                
          </div>        
            
          <br> 
          <br>
          <br>
          <br>
      </ion-content>
       <div class="bar bar-footer">  
        <div class="title">         
          <h4 class="rosa">
            www.himfg.edo.mx            
          </h4>                 
        </div>
      </div>
</ion-view>