<ion-view view-title="Verduras"> 
     <ion-nav-buttons side="primary">
      <button class="button button-icon button-clear ion-ios-close-empty" ui-sref="grupos">
        </button>
    </ion-nav-buttons> 

        <ion-content class="padding">            
          <div>
            <center>
              <h5 class="azul">Recuerda que estas cantidades equivalen a 1 porcion de cada alimento.</h5>
            </center>
          </div>    
          <br> 
          <div class="row back-frutas">
                 <div class="col col-50 text-center ">
                    <h5 class="letras-blancas">Champiñon cocido</h5>
                
                 </div>
                 <div class="col col-50 text-center back-with">
                   <span>
                    <h5 class="pad">1/3 Taza</h5>                    
                   </span>
                 </div>                
              </div>
          <br> 
          <div class="row back-frutas">
                 <div class="col col-50 text-center ">
                    <h5 class="letras-blancas">Betabel crudo/cocido</h5>
                
                 </div>
                 <div class="col col-50 text-center back-with">
                   <span>
                    <h5 class="pad">1/4 Taza</h5>                    
                   </span>
                 </div>                
              </div> 
              <br>
          <div class="row back-frutas ">
             <div class="col col-50 text-center">
                <h6 class="letras-blancas">Acelga, Brocoli, Espinaca, Chayote cocido, Zanahoria, Jicama, Calabaza cocida.</h6>                                      
             </div>
             <div class="col col-50 text-center back-with">
               <span >
                 <h5 class="pad">1/2 Taza</h5>                    
               </span>
             </div>                
          </div>
          <br>
          <div class="row back-frutas ">
             <div class="col col-50 text-center">
                <h6 class="letras-blancas">Alcachofa cocida, Berengena cocida, Jitomate bola</h6>                                      
             </div>
             <div class="col col-50 text-center back-with">
               <span >
                 <h5 class="pad">1 Pieza</h5>                    
               </span>
             </div>                
          </div>
          <br>
          <div class="row back-frutas ">
             <div class="col col-50 text-center">
                <h5 class="letras-blancas">Esparrago cocido</h5>                                      
             </div>
             <div class="col col-50 text-center back-with">
               <span >
                 <h5 class="pad">6 Piezas</h5>                    
               </span>
             </div>                
          </div>
          <br> 
          <div class="row back-frutas">
             <div class="col col-50 text-center ">
                <h6 class="letras-blancas">Nopal cocido, Pimiento crudo, Setas, Col crudo, Ejote cocido, Tomate verde cocido</h6>
            
             </div>
             <div class="col col-50 text-center back-with">
               <span>
                <h5 class="pad">1 Taza</h5>                    
               </span>
             </div>                
          </div>
          <br> 
          <div class="row back-frutas">
             <div class="col col-50 text-center ">
                <h5 class="letras-blancas">Cebolla cambray</h5>
            
             </div>
             <div class="col col-50 text-center back-with">
               <span>
                <h5 class="pad">3 Piezas</h5>                    
               </span>
             </div>                
          </div>
          <br> 
          <div class="row back-frutas">
             <div class="col col-50 text-center ">
                <h5 class="letras-blancas">Lechuga, Germinado de alfalfa</h5>
            
             </div>
             <div class="col col-50 text-center back-with">
               <span>
                <h5 class="pad">3 tazas</h5>                    
               </span>
             </div>                
          </div>
          <br> 
          <div class="row back-frutas">
             <div class="col col-50 text-center ">
                <h5 class="letras-blancas">Pepino, Rábano</h5>
            
             </div>
             <div class="col col-50 text-center back-with">
               <span>
                <h5 class="pad">2 tazas</h5>                    
               </span>
             </div>                
          </div>  
          <br> 
          <br>
          <br>
          <br>
      </ion-content>
       <div class="bar bar-footer">  
        <div class="title">         
          <h4 class="rosa">
            www.himfg.edo.mx            
          </h4>                 
        </div>
      </div>
</ion-view>