<ion-view view-title="Actividad Física"> 
      

        <ion-content class="padding" ng-controller="ciclos3">            
          <div>
          <center>
            <h1 class="grande rosa">{{minutos}}:{{counter}}</h1>
          </center>
         </div>
          <div class=" col-center">          
              <img src="img/ejercicio/nivel1/vista/imagen.png" width="100%" height="100%">          
          </div>  
          <div>
          <center>
            <h1 >Ciclos: {{ciclos}} de 6</h1>
          </center>
         </div>


      </ion-content>
       <div class="bar bar-footer">  
        <div class="title">         
          <h4 class="rosa">
            www.himfg.edo.mx            
          </h4>                 
        </div>
      </div>
</ion-view>