<ion-view view-title="Actividad Física"> 
      

        <ion-content class="padding">   
          <div ui-sref="ejercicio" class=" col-center">   
          <center>       
              <img src="img/ejercicio/nivel1/imagenes/finalizado.png" width="30%" height="30%">
              </center>      
          </div> 

          <div>
          <center>
            <h5 class="rosa">Realiza ejercicio de flexibilidad</h5>
          </center>
         </div>
         <br>
          <div class=" col-center">          
              <img src="img/ejercicio/nivel1/imagenes/estiramiento.png" width="100%" height="100%">          
          </div>  
          <br>
            <div class="row borde" >
                <div class="col col-50">
                  <label class="checkbox-inline">
                    Lo realizaste ?
                    <input type="checkbox" id="inlineCheckbox1" value="option1">
                     Si
                  </label>
                </div>
                <div class="col col-50 ">
                   <label class="checkbox-inline">
                      No Por Qué ? <br>
                      <input type="checkbox" id="inlineCheckbox1" value="option1">
                      Duracion de la rutina <br>
                      <input type="checkbox" id="inlineCheckbox1" value="option1">
                      Enfermedad<br>
                      <input type="checkbox" id="inlineCheckbox1" value="option1">
                      Cansancio<br>
                      <input type="checkbox" id="inlineCheckbox1" value="option1">
                      Falta de tiempo
                       </label>
                </div>                            
              </div>
               <div class="row borde" >

                <div class="col col-100">
                  <h5>Reporta otras actividades</h5><br>
                  <label class="checkbox-inline">                    
                    <input type="checkbox" id="inlineCheckbox1" value="option1">
                     Actividad física<br>
                     <input type="checkbox" id="inlineCheckbox1" value="option1">
                     Algun deporte<br>
                     <input type="checkbox" id="inlineCheckbox1" value="option1">
                     Juego recreativo<br>
                     Duracion: <input type="text"> Mins.
                     Juego recreativo<br>
                     <h5>¿ Como te sentiste ?</h5>
                    <img src="img/ejercicio/nivel1/imagenes/1.png" width="10%" height="10%">
                    <img src="img/ejercicio/nivel1/imagenes/2.png" width="10%" height="10%">
                    <img src="img/ejercicio/nivel1/imagenes/3.png" width="10%" height="10%">
                  </label>
                </div>
              </div>



      </ion-content>
       <div class="bar bar-footer">  
        <div class="title">         
          <h4 class="rosa">
            www.himfg.edo.mx            
          </h4>                 
        </div>
      </div>
</ion-view>