<ion-view view-title="Actividad Física"> 
      

        <ion-content class="padding">            
          <div class=" col-center">          
              <img src="img/ejercicio/inicio/imagenes/TEXTO.png" width="100%" height="100%">          
          </div>  
          <div class=" col-center">          
              <img src="img/ejercicio/inicio/imagenes/entrenamiento.png" width="100%" height="100%">          
          </div>   
    
          <div class="row row-center">
          <div class="col col-33 text-center ">
            <center>
              <a ui-sref="dia1">
                <div class=" col-center">           
                    <img src="img/ejercicio/inicio/imagenes/nivel1.png" width="100%" height="100%">             
                </div>             
              </a>
            </center>
          </div>
          <div class="col col-33 text-center ">
            <center>
              <a ui-sref="dia2">
                <div class=" col-center">               
                    <img src="img/ejercicio/inicio/imagenes/nivel2.png" width="100%" height="100%">                 
                </div>               
              </a>
            </center>
          </div>
          <div class="col col-33 text-center ">
            <center>
              <a ui-sref="dia3">
                <div class=" col-center">                
                    <img src="img/ejercicio/inicio/imagenes/nivel3.png" width="100%" height="100%">                
                </div>             
              </a>
            </center>
          </div>
        </div> 
        <div class=" col-center">          
              <img src="img/ejercicio/inicio/imagenes/precauciones.png" width="100%" height="100%">          
          </div>        
      </ion-content>
       <div class="bar bar-footer">  
        <div class="title">         
          <h4 class="rosa">
            www.himfg.edo.mx            
          </h4>                 
        </div>
      </div>
</ion-view>