<ion-view view-title="Actividad Física"> 
      

        <ion-content class="padding">            
          <div>
          <center>
            <h1 class="grande rosa">00:01</h1>
          </center>
         </div>
          <div class=" col-center">          
              <img src="img/ejercicio/nivel2/vista/imagen.png" width="100%" height="100%">          
          </div>  
          <div>
          <center>
            <h1 >Ciclos: 1 de 8</h1>
          </center>
         </div>


      </ion-content>
       <div class="bar bar-footer">  
        <div class="title">         
          <h4 class="rosa">
            www.himfg.edo.mx            
          </h4>                 
        </div>
      </div>
</ion-view>