<ion-view view-title="Actividad Física"> 
      

        <ion-content class="padding">            

          <div class=" col-center">          
              <img src="img/ejercicio/nivel2/imagenes/fase.png" width="100%" height="100%">          
          </div>  
          <div class=" col-center">          
              FRECUENCIA: Selecciona 5 dias de la semana.          
          </div> 
           <div class="row">
           <div class="col col-10">
           </div>
           <div class="col col-10">
               <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox1" value="option1"><br>
                 Lunes
              </label>
           </div>
           <div class="col col-10">
               <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox1" value="option1"><br>
                 Martes
              </label>
           </div>
           <div class="col col-10">
               <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox1" value="option1"><br>
                 Miesrcoles
              </label>
           </div>
           <div class="col col-10">
               <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox1" value="option1"><br>
                 Jueves
              </label>
           </div>  
           <div class="col col-10">
               <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox1" value="option1"><br>
                 Viernes
              </label>
           </div>
           <div class="col col-10">
               <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox1" value="option1"><br>
                 Sbado
              </label>
           </div>
           <div class="col col-10">
               <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox1" value="option1"><br>
                 Domingo
              </label>
           </div> 
           <div class="col col-20">
           </div>
        </div> 
         <br>
        <div class="row back-frutas">
             <div class="col col-50 text-center ">
                <h5 class="letras-blancas">   Intensidad</h5>
            
             </div>
             <div class="col col-50 text-center back-with">
               <span>
                <h5 class="pad">Moderada</h5>                    
               </span>
             </div>                
        </div>
         <br> 
        <div class="row back-frutas">
             <div class="col col-50 text-center ">
                <h5 class="letras-blancas">Tipo de ejercicio</h5>
            
             </div>
             <div class="col col-50 text-center back-with">
               <span>
                <h5 class="pad">Aeróbico y de flexibilidad</h5>                    
               </span>
             </div>                
        </div> 
        <br>
        <div class="row back-frutas">
             <div class="col col-50 text-center ">
                <h5 class="letras-blancas">Tiempo de duración</h5>
            
             </div>
             <div class="col col-50 text-center back-with">
               <span>
                <h5 class="pad">45 minutos</h5>                    
               </span>
             </div>                
        </div>        
        <br> 
        <div class="row back-frutas">
             <div class="col col-20 text-center ">
                <h5 class="letras-blancas">Objetivo</h5>
            
             </div>
             <div class="col col-80 text-center back-with">
               <span>
                <h5 class="pad">250 minutos a la semana</h5>                    
               </span>
             </div>                
        </div> 
        <br>  
        <div class="row back-frutas">
             <div class="col col-100 text-center ">
                <h5 class="letras-blancas">Caminata o ciclismo 4 minutos de intensidad moderada x 1 minuto de intensidad leve x 9 ciclos</h5>
            
             </div>
                  
        </div>
        <br>  
        <div class="row back-frutas">
             <div class="col col-100 ">
                <h5 class="letras-blancas">Ejercicio de fortalecimiento. Selecciona dos días de la semana con 48 dias de descanso entre cada uno.   <br>
                Rutina:   <br>8 repeticiones de cada ejericio por 2 series con descanso de 20 segundos entre cada seria<br>-Sentadillas<br>-Desplantes<br>-lagartijas<br>-Fondos Tríceps<br>-Abdominales<br>-Reverencias           
                </h5>
             </div>
                  
        </div>
        <div ui-sref="ciclos2" class=" col-center">   
          <center>       
              <img src="img/ejercicio/nivel1/vista/comenzar.png" width="30%" height="30%">
              </center>      
          </div>  
          <br>
          <br><br>

      </ion-content>
       <div class="bar bar-footer">  
        <div class="title">         
          <h4 class="rosa">
            www.himfg.edo.mx            
          </h4>                 
        </div>
      </div>
</ion-view>