<ion-view view-title="Actividad Física"> 
      

        <ion-content class="padding">            
          <div>
          <center>
            <h3>Ejercicio de Fortalecimiento</h3>
          </center>
         </div>
          <div class=" col-center">          
              <img src="img/ejercicio/nivel2/imagenes/reve.png" width="100%" height="100%">          
          </div>  
            <div ui-sref="fin2" class=" col-center">   
          <center>       
              <img src="img/ejercicio/nivel2/imagenes/siguiente.png" width="30%" height="30%">
              </center>      
          </div>  
          <br>
          <br><br>


      </ion-content>
      <div class="bar bar-footer">  
    <div class="title">         
      <h4 class="rosa">
        <a ng-href="http://www.himfg.edo.mx"
          onclick='window.open(this.href, "_system", "location=yes"); return false;'>  
            www.himfg.edo.mx     
        </a>        
      </h4>                 
    </div>
  </div>
</ion-view>