<ion-view view-title="Psicología"> 
      <ion-nav-buttons side="primary">
      <button class="button button-icon button-clear ion-ios-close-empty" ui-sref="bienvenido2">
        </button>
    </ion-nav-buttons> 

        <ion-content class="padding">            
          <div class=" col-center">          
              <img src="img/psicologia/3/texto.png" class="img-responsive img-rounded row logo-img" width="100" >          
          </div>     
          <br>
          <br>     
          <div class="row row-center">
          <div class="col col-33 text-center ">
            <center>
              <a ui-sref="dia1">
                <div class=" col-center">           
                    <img src="img/psicologia/3/dia1.png" class="img-responsive img-rounded row logo-img" width="100">             
                </div>             
              </a>
            </center>
          </div>
          <div class="col col-33 text-center ">
            <center>
              <a ui-sref="dia2">
                <div class=" col-center">               
                    <img src="img/psicologia/3/dia2.png" class="img-responsive img-rounded row logo-img" width="100">                 
                </div>               
              </a>
            </center>
          </div>
          <div class="col col-33 text-center ">
            <center>
              <a ui-sref="dia3">
                <div class=" col-center">                
                    <img src="img/psicologia/3/dia3.png" class="img-responsive img-rounded row logo-img" width="100" >                
                </div>             
              </a>
            </center>
          </div>
        </div> 


        <div class="row row-center">
          <div class="col col-50 text-center ">
            <center>
              <a ui-sref="dia4">
                <div class=" col-center">               
                    <img src="img/psicologia/3/4dia.png" class="img-responsive img-rounded row logo-img" width="100">              
                </div>           
              </a>
            </center>
          </div>
          <div class="col col-50 text-center ">
            <center>
              <a ui-sref="dia5">
                <div class=" col-center">                  
                    <img src="img/psicologia/3/5dia.png" class="img-responsive img-rounded row logo-img" width="100">                  
                </div>             
              </a>
            </center>
          </div>
        </div>                   
      </ion-content>
       <div class="bar bar-footer">  
    <div class="title">         
      <h4 class="rosa">
        <a ng-href="http://www.himfg.edo.mx"
          onclick='window.open(this.href, "_system", "location=yes"); return false;'>  
            www.himfg.edo.mx     
        </a>        
      </h4>                 
    </div>
  </div>
</ion-view>