<ion-view view-title="Psicología"> 
      

        <ion-content class="padding">            
          <div class=" col-center">          
              <img src="img/psicologia/3/texto.png" width="100%" height="100%">          
          </div>     
          <br>
          <br>     
          <div class="row row-center">
          <div class="col col-33 text-center ">
            <center>
              <a ui-sref="dia1">
                <div class=" col-center">           
                    <img src="img/psicologia/3/dia1.png" width="100%" height="100%">             
                </div>             
              </a>
            </center>
          </div>
          <div class="col col-33 text-center ">
            <center>
              <a ui-sref="dia2">
                <div class=" col-center">               
                    <img src="img/psicologia/3/dia2.png" width="100%" height="100%">                 
                </div>               
              </a>
            </center>
          </div>
          <div class="col col-33 text-center ">
            <center>
              <a ui-sref="dia3">
                <div class=" col-center">                
                    <img src="img/psicologia/3/dia3.png" width="100%" height="100%">                
                </div>             
              </a>
            </center>
          </div>
        </div> 


        <div class="row row-center">
          <div class="col col-50 text-center ">
            <center>
              <a ui-sref="dia4">
                <div class=" col-center">               
                    <img src="img/psicologia/3/4dia.png" width="70%" height="70%">              
                </div>           
              </a>
            </center>
          </div>
          <div class="col col-50 text-center ">
            <center>
              <a ui-sref="dia5">
                <div class=" col-center">                  
                    <img src="img/psicologia/3/5dia.png" width="70%" height="70%">                  
                </div>             
              </a>
            </center>
          </div>
        </div>                   
      </ion-content>
       <div class="bar bar-footer">  
        <div class="title">         
          <h4 class="rosa">
            www.himfg.edo.mx            
          </h4>                 
        </div>
      </div>
</ion-view>